In [1]:
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer

In [2]:
cv = CountVectorizer(stop_words='english')

In [3]:
sugg = pd.read_csv('./data/all_sugg_text.csv').set_index('title_id')

In [4]:
movies = pd.read_csv('./movies_data/movies.csv')#.sort_values(by = 'year')

movies = movies[['id', 'primary_title', 'year']]

movies = movies[movies['id'].isin(sugg.index)] #https://stackoverflow.com/a/12098586

movies['year'] = movies['year'].astype(int)

movies = movies.sort_values(by = 'year')

title_dict = movies[['id', 'primary_title']].set_index('id').to_dict()['primary_title']

In [5]:
sugg

                                                        text
title_id
tt0340855  Thriller Movies that take place in a House at ...
tt6378710  Thriller Movies that take place in a House at ...
tt0109456  What is your favorite “sexy” movie from the 90s?
tt0110308  What is your favorite “sexy” movie from the 90s?
tt0120890  What is your favorite “sexy” movie from the 90s?
...                                                      ...
tt0274711  Movies on Netflix Looking for some hidden gem ...
tt0109303  Best "inside a simulation" movies? I really li...
tt0120907  Best "inside a simulation" movies? I really li...
tt4975722  A movie where the main character is a teen/ st...
tt0377091  A movie where the main character is a teen/ st...

[151504 rows x 1 columns]

In [6]:
sugg_df = pd.DataFrame([title_dict.keys(), title_dict.values()]).T.merge(left_on = 0, right_on = 'title_id', right = sugg)

In [23]:
sugg_df.to_csv('./data/suggestion_titles.csv', index = False)

In [22]:
cv = CountVectorizer(max_features = 5000, stop_words='english')

In [7]:
X = cv.fit_transform(sugg_df['text'])

In [15]:
X_df = pd.DataFrame(X.toarray(), columns = cv.get_feature_names(), index = sugg_df[0])

In [16]:
X_df

,00,000,00s,01,02,04,07,08,10,100,...,zooms,zootopia,zorro,zucchini,zuckerberg,zuko,zulawski,zulu,zzb9wo,östlund
0,,,,,,,,,,,,,,,,,,,,,
tt0006864,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0006864,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0006864,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0006864,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0006864,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt8580274,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt8580274,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt8580274,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt8580274,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt8580274,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0